/C#/basics/.vs/basics/FileContentIndex/9f1d4b4c-6f1b-4426-a32c-fbc5ea43ded4.vsidx
/C#/basics/.vs/basics/FileContentIndex/a8a6fdf3-8c84-4e3b-bf48-4244aa056dd6.vsidx
/C#/basics/.vs/basics/FileContentIndex/34aefe23-8121-4447-809d-3cbb339ddc0a.vsidx
/C#/basics/.vs/basics/FileContentIndex/